body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#setup-page {
    display: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#devices-setup {
    display: none;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.card {
    padding: 20px 40px;
    background-color: red;
    border: 2px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#devices {
    width: 50%;
    margin-bottom: 20px;
}

#inputID {
    padding: 20px 40px;
    background-color: red;
    border: 2px solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#albumImage {
    width: 100px;
    height: 100px;
}

label {
    margin-bottom: 5px;
}

input {
    margin-bottom: 10px;
}
